<div class="form-wrapper">
  <div class="form-login col-xs-12 col-md-6 col-md-offset-3">

<h1>Nová brigáda</h1>

<%= render 'form' %>


<%= link_to "Zpět", :back, class: "btn btn-default" %>
</div>
</div>