<div class="form-wrapper">
  <div class="form-login col-md-4 col-md-offset-4">
    <br><br>
    <h4>Pro vygenererování smlouvy je nutné<br>
    vyplnit všechny položky registrace</h4>
    
    <br>
    
    <%= simple_form_for(@user, :url => wizard_path, :method => :put) do |f| %>
    
        <%= f.input :birth_name, :label => "Rodné příjmení", required: false %>
        
        <%= f.submit "Další", :class => "btn btn-primary" %>
    
    <% end %>
    
    <%= link_to "Přeskočit", next_wizard_path %>
  </div>
</div>
